{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<a href="{{ url }}">
    <article{{ attributes.addClass(classes) }}>
        <h2>{{ content.field_title }}</h2>

        {{ content.field_industry }}
        {{ content.field_description }}
    </article>
</a>
