{#
/**
 * @file
 * Default theme implementation for Node List.
 *
 * Available variables:
 * - content[]:
 * @ingroup themeable
 * @ingroup ad_general
 */
#}
<div>
    {% if content %}
        {% for item in content %}
            <h2 class="node__title">
                <a class="field" href="{{ item.link }}">{{ item.title }}</a>
            </h2>
        {% endfor %}
    {% endif %}
</div>
