{#
/**
 * @file
 * Default theme implementation for the Event Info Block.
 *
 * Available variables:
 * - attributes: Attributes for the h2 tag.
 * - content: The text to display within the h2 tag.
 *
 * @ingroup themeable
 * @ingroup event
 */
#}
<h2{{ content_attributes }}>{{ content }}</h2>
