{#
/**
 * @file
 * Default theme implementation for the Event Favorites Block.
 *
 * Available variables:
 * - count: Count of favorite events by the current user
 * - link: Link to the My Favorite Events page
 *
 * @ingroup themeable
 * @ingroup event
 */
#}
<a href="{{ link }}">You have <span class="flag-favorite_event-count-favorites">{{ count }}</span> favorite events.</a>