body.path-companies {
  section.featured .region.region-featured {
    background: $companies-list-background;

    #block-companylistheaderblock {
      @include container;

      .field.field--name-body {
        display: flex;
        align-items: center;

        h2 {
          @include typography(2rem, $font-weight-bold, $archivo-font-family);

          flex: 1 0 21rem;
          max-width: 50rem;
          line-height: 2rem;
          color: $white;

          @include devices(tablet) {
            flex: 1 0 30rem;
            font-size: 3.6rem;
            line-height: 4.8rem;
          }

          @include devices(desktop) {
            flex: 1;
            max-width: 50rem;
            font-size: 4.8rem;
            line-height: 5.2rem;
          }
        }

        p {
          position: relative;
          right: -20%;
          margin-left: -20%;

          @include devices(tablet) {
            right: -15%;
            margin-left: 0;
          }
        }
      }
    }
  }

  .view-content .views-infinite-scroll-content-wrapper {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include devices(tablet) {
      margin: 3.7rem 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @include devices(desktop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 4.8rem 6rem;
    }

    .views-row a {
      height: 100%;

      &:hover,
      &:active,
      &:focus {
        color: $black;
      }

      article.node.node--type-company.node--view-mode-teaser {
        position: relative;
        padding: 2rem;
        border: 0.1rem solid $white;
        border-radius: 2rem;
        height: 100%;
        background: $white;
        box-shadow: 0.5rem 0.5rem 5rem $shadow-gray;

        @include devices(tablet) {
          padding: 2.3rem 3rem 3.1rem 2.3rem;
          box-shadow: none;
        }

        h2 {
          @include typography(2rem, $font-weight-bold, $roboto-font-family);

          margin: 0 0 2.2rem 0;
          line-height: 1.6rem;

          @include devices(tablet) {
            margin: 0 0 2.5rem 0;
            font-size: 2.6rem;
            line-height: 2rem;
          }
        }

        .field {
          &.field--name-field-industry {
            @include taxonomy-highlight;
            @include typography(1.4rem, $font-weight-bold, $roboto-font-family);

            margin: 0 0 1.6rem 0;
            line-height: 1.4rem;

            @include devices(tablet) {
              margin: 0 0 2rem 0;
            }
          }

          &.field--name-field-description {
            line-height: 2rem;
          }
        }

        &:hover {
          box-shadow: 0.5rem 0.5rem 5rem $shadow-gray;
        }
      }
    }
  }
}
