body.path-node {
  &.page-node-type-company,
  &.page-node-type-location,
  &.page-node-type-event {
    .region.region-content .node__content {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      .company-info,
      .location-info,
      .event-info {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;

        @include devices(tablet) {
          flex-direction: column;
        }

        @include devices(desktop) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        .contact-info {
          @include typography(1rem, $font-weight-medium, $archivo-font-family);
          line-height: 1.5rem;

          @include devices(tablet) {
            @include typography(1.6rem, $font-weight-bold, $archivo-font-family);

            line-height: 3.2rem;
          }
        }

        .field.field--name-field-logo {
          display: none;

          @include devices(desktop) {
            display: block;
            margin: 0 0 0 auto;
            max-width: 24.8rem;
          }
        }

        .field.field--name-field-industry,
        .field.field--name-field-location-type,
        .field.field--name-field-event-type {
          @include taxonomy-highlight;
        }

      }

      .company-content,
      .location-content,
      .event-content {
        margin: 6.6rem 0 4rem 0;
        max-width: $text-max-width;

        @include devices(tablet) {
          margin: 4.5rem 0 6rem 0;
        }
      }

      .company-footer .field.field--name-field-components .paragraph.paragraph--type--quote,
      footer.location-footer,
      footer.event-footer {
        .field.field--name-field-image {
          display: flex;
          position: absolute;
          width: 18.3rem;
          height: 15rem;
          border-radius: 1.2rem;
          overflow: hidden;
          top: 0;
          right: calc(-#{$container-padding} - 1.2rem);

          @include devices(tablet) {
            width: 32.1rem;
            height: 22.5rem;
            top: 1.6rem;
            right: 0;
          }

          @include devices(desktop) {
            position: static;
            width: 100%;
            height: auto;
          }

          img {
            width: 100%;
            object-fit: cover;

            @include devices(desktop) {
              min-width: auto;
              max-width: 32rem;
              max-height: 100%;
            }
          }
        }
      }
    }

    .region.region-sidebar {
      margin: 0 0 2rem 0;

      @include devices(tablet) {
        display: flex;
        gap: 3rem;

        .block {
          flex: 1;
        }
      }

      @include devices(desktop) {
        display: block;
      }

      .block > h2 {
        margin: 0 0 2.2rem 0;
      }

      #block-views-block-company-events-view-block-1-2,
      #block-views-block-location-events-view-block-1-2 {
        .views-row {
          @include event-card;

          margin: 0 0 1.6rem 0;
        }
      }

      #block-views-block-location-leaflet-view-block-1-2 {
        margin: 5.3rem 0 0 0;

        @include devices(tablet) {
          margin: 0;
        }

        @include devices(desktop) {
          margin: 9.4rem 0 0 0;
        }

        .field-content {
          border-radius: 2rem;
          overflow: hidden;
          width: 100%;
          aspect-ratio: 1.45 / 1;
        }
      }
    }
  }
}

body {
  &.path-companies,
  &.path-locations,
  &.path-events {
    .view-header {
      margin: 5rem 0 0 0;

      @include devices(tablet) {
        margin: 7rem 0 0 0;
      }

      @include devices(desktop) {
        margin: 10rem 0 0 0;
      }

      h1 {
        @include typography(2.4rem, $font-weight-semi-bold, $archivo-font-family);

        margin: 0;
        line-height: 2.7rem;
        letter-spacing: -1px;

        @include devices(tablet) {
          margin: 0 0 0.8rem 0;
          font-size: 3.6rem;
          line-height: 3.6rem;
        }
      }

      p {
        @include typography(1.2rem, $font-weight-normal, $rubik-font-family);
        line-height: 2.4rem;

        @include devices(tablet) {
          font-size: 2.4rem;
          line-height: 4.8rem;
        }
      }
    }
  }
}