body.path-node.page-node-type-company {
  .region.region-content .node__content {
    h1.company-header {
      flex: 0 0 100%;

      margin: 2.1rem 0 1.9rem 0;
    }

    .company-info {
      flex-direction: column-reverse;

      @include devices(tablet) {
        flex-direction: column;

        .field.field--name-field-industry {
          margin: 4rem 0 0 0;
        }
      }
      
      @include devices(desktop) {
        flex-direction: row;
      }
    }

    .company-footer .field.field--name-field-components .paragraph.paragraph--type--quote {
      margin: 4rem 0 5rem 0;
      flex-wrap: nowrap;
      gap: 0;

      .field.field--name-field-quote {
        gap: 1.6rem;
        font-size: 1.8rem;
        line-height: 2.8rem;

        &:before {
          margin: -3rem 0 0 0;
        }

        @include devices(tablet) {
          p {
            max-width: fit-content;
          }
        }
      }

      @include devices(desktop) {
        align-items: center;

        .field.field--name-field-quote {
          margin: 0 0 0 6rem;
        }
      }
    }
  }
}
