body.path-events {
  section.featured .region.region-featured {
    background: $events-list-background;
    position: relative;
    overflow: hidden;

    #block-eventlistheaderblock {
      @include container;
      position: static;

      .field.field--name-body {

        >h2 {
          @include typography(2rem, $font-weight-bold, $archivo-font-family);

          position: relative;
          margin: 0;
          padding: 1.8rem 0 1.5rem 0;
          width: 20rem;
          line-height: 2rem;
          color: $white;
          z-index: 1;

          @include devices(tablet) {
            font-size: 3.6rem;
            line-height: 4rem;
            width: 40rem;
          }

          @include devices(desktop) {
            padding: 18rem 0 9rem 0;
            font-size: 4.8rem;
            line-height: 5.2rem;
            width: 51.7rem;
          }
        }

        >p {
          position: absolute;
          width: 9.8rem;
          height: 15.2rem;
          top: 4.7rem;
          right: -0.6rem;

          @include devices(tablet) {
            width: 17.7rem;
            height: 30.4rem;
            right: 0;
            top: 6rem;
          }

          @include devices(desktop) {
            width: 45.2rem;
            height: 77.7rem;
            right: -0.1rem;
            top: auto;
            bottom: -0.9rem;
          }
        }
      }
    }
  }

  .view-content >.views-infinite-scroll-content-wrapper {
    margin: 4rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include devices(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include devices(desktop) {
      margin: 4rem 0 2rem 0;
      gap: 6rem;
    }

    >.views-row {
      >a {
        &:hover,
        &:active,
        &:focus {
          color: $black;
        }
      }


      >a >article {
        display: grid;
        grid-template-areas:
          "image details";
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1.5rem;

        @include devices(desktop) {
          gap: 0;
          border-radius: 2rem;
          overflow: hidden;
        }

        .field--name-field-image {
          grid-area: image;
          aspect-ratio: 1.5 / 2;
          border-radius: 2rem;
          overflow: hidden;

          @include devices(desktop) {
            aspect-ratio: 0.825 / 1;
            border-radius: 0;
            z-index: -2;
          }

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .event-details {
          position: relative;
          grid-area: details;
          display: flex;
          flex-direction: column;
          padding: 2.8rem 1.5rem;
          border-radius: 2rem;
          background: $gray-light;

          @include devices(desktop) {
            padding: 3rem;
            border-radius: 0;
            transition: all 0.4s ease-in-out;
          }

          .field--name-field-start-date {
            @include typography(1.1rem, $font-weight-normal, $rubik-font-family);

            line-height: 1.3rem;

            @include devices(desktop) {
              font-size: 1.8rem;
              line-height: 2.1rem;
            }
          }

          .field--name-field-title {
            @include typography(1.4rem, $font-weight-bold, $archivo-font-family);

            margin: auto 0;
            line-height: 1.8rem;

            @include devices(desktop) {
              font-size: 2.1rem;
              line-height: 2.6rem;
            }

            &:before {
              content: '';
              width: 0;
              height: 0;
              border-top: 3.5rem solid transparent;
              border-bottom: 3.5rem solid transparent;
              border-right: 4rem solid $gray-light;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              transition: transform 0.4s ease-in-out;
              left: -0.7rem;
              z-index: -1;

              @include devices(desktop) {
                border-right: 5rem solid $black;
                left: 0;
                max-width: 0;
                z-index: -1;
              }
            }
          }

          span {
            @include typography(0.8rem, $font-weight-medium, $rubik-font-family);

            display: flex;
            align-items: center;
            gap: 1.1rem;
            line-height: 0.95rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;

            @include devices(desktop) {
              font-size: 1.2rem;
              line-height: 1.4rem;
            }

            &:after {
              @include font-awesome-icon('\f178');

              transform: scaleX(1.2);
            }
          }
        }
      }

      @media only screen and (max-width: $screen-size-tablet) {
        &:nth-child(even) >a >article {
          grid-template-areas:
          "details image";

          .event-details .field--name-field-title:before {
            border-right: none;
            border-left: 4rem solid $gray-light;
            left: auto;
            right: -0.7rem;
          }
        }
      }

      @include devices(tablet) {
        &:nth-child(4n + 3),
        &:nth-child(4n + 4) {
          > a > article {
            grid-template-areas:
            "details image";
          }
        }
      }

      @include devices(desktop) {
        >a:hover >article {
          .event-details {
            background: $black;
            color: $white;

            .field--name-field-title:before {
              transform: translate(-3.7rem, -50%);
            }
          }
        }

        &:nth-child(4n + 3),
        &:nth-child(4n + 4) {
          >a {
            >article .event-details .field--name-field-title:before {
              border-right: none;
              border-left: 5rem solid $black;
              left: auto;
              right: 0;
            }

            &:hover {
              >article .event-details .field--name-field-title:before {
                transform: translate(3.7rem, -50%);
              }
            }
          }
        }
      }
    }

    .animate-event {
      animation: event-appear 1s ease-in-out;
    }
  }
}

@keyframes event-appear {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
