body.path-node.page-node-type-event {
  .region.region-content .node__content {

    .event-info {
      >.field.field--name-field-event-type {
        margin-bottom: 2rem;

        @include devices(tablet) {
          margin-bottom: 3rem;
        }

        @include devices(desktop) {
          margin-bottom: 4rem;
        }

        &:before {
          display: none;
        }

        .line {
          display: block;
          border-radius: 0.15rem;
          width: 0.3rem;
          background-color: $yellow;
        }
      }

      .date-info .field {
        @include typography(1rem, $font-weight-normal, $rubik-font-family);

        display: flex;
        line-height: 1.5rem;

        @include devices(tablet) {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }

        @include devices(desktop) {
          font-size: 1.8rem;
          line-height: 3rem;
        }

        .field__label {
          font-weight: $font-weight-medium;
        }
      }
    }

    .event-header {
      flex: 1 0 100%;

      h1,
      .event-info {
        max-width: calc(100% - 18.3rem);

        @include devices(tablet) {
          max-width: calc(100% - 32.1rem);
        }

        @include devices(desktop) {
          max-width: 100%;
        }
      }
    }

    .event-content {
      margin-bottom: 5rem;
      flex: 1 0 100%;

      @include devices(desktop) {
        margin: 4rem 0 5.7rem 0;
      }
    }

    footer.event-footer {
      margin: 0 0 5rem 0;

      @include devices(tablet) {
        margin: 0 0 6rem 0;

        .field.field--name-field-image {
          width: 28.2rem;
          height: 19.7rem;

          @include devices(desktop) {
            display: none;
          }
        }
      }
    }
  }

  .region.region-sidebar {
    #block-views-block-event-image-block-1 {
      display: none;

      @include devices(desktop) {
        display: block;
        border-radius: 2rem;
      }
    }

    #block-views-block-event-location-block-1-2.block,
    #block-views-block-event-company-block-1-2.block {
      >h2 {
        margin: 0 0 2.5rem 0;
        line-height: 1.8rem;
      }

      .view-content {
        display: flex;
        align-items: center;

        &:before {
          width: 4.7rem;
          height: 3rem;
        }

        .views-row {
          flex: 1;
          padding: 1.8rem 3rem;
          border-radius: 1.4rem;
          background: $gray;

          @include devices(tablet) {
            background: none;
          }

          .views-field {
            &.views-field-field-title {
              @include typography(1.6rem, $font-weight-bold, $archivo-font-family);

              margin: 0 0 1rem 0;
              line-height: 1.75rem;
            }

            &.views-field-field-location-type,
            &.views-field-field-industry {
              @include typography(1.3rem, $font-weight-normal, $roboto-font-family);

              line-height: 1.5rem;
            }
          }
        }
      }

      @include devices(desktop) {
        margin: 5rem 0 0 0;
      }
    }

    #block-views-block-event-location-block-1-2 .view-content:before {
      @include icon('location-icon.svg');
    }

    #block-views-block-event-company-block-1-2 {
      margin: 5rem 0 0 0;

      @include devices(tablet) {
        margin: 0;
      }

      .view-content:before {
        @include icon('building-icon.svg');
      }
    }
  }
}
