body.path-node.page-node-type-location {
  .region.region-content .node__content {
    header {
      flex: 1 0 100%;

      h1,
      .location-info {
        max-width: calc(100% - 18.3rem);

        @include devices(tablet) {
          max-width: calc(100% - 32.1rem);
        }

        @include devices(desktop) {
          max-width: 100%;
        }
      }
    }

    footer.location-footer {
      margin: 0 0 5rem 0;
      display: flex;
      gap: 4.2rem;
      width: 100%;

      @include devices(desktop) {
        .field.field--name-field-image img {
          max-width: 100%;
        }
      }

      .field.field--name-field-equipment {
        align-self: flex-start;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.9rem 1.3rem;
        width: 100%;

        @include typography(1.2rem, $font-weight-bold, $archivo-font-family);

        @include devices(tablet) {
          gap: 1.5rem;
          font-size: 1.4rem;
        }

        @include devices(desktop) {
          gap: 2rem;
          font-size: 1.6rem;
        }

        .field__item {
          padding: 1.5rem 1.4rem;
          border-radius: 1.4rem;
          display: flex;
          align-items: center;
          gap: 1.4rem;
          width: 100%;
          background: $gray;

          @include devices(desktop) {
            padding: 2.5rem 1.4rem;
            line-height: 1.8rem;
          }

          &:before {
            @include font-awesome-icon("\f00c")
          }
        }
      }
    }

    @include devices(desktop) {
      .location-info .field.field--name-field-location-type {
        margin: 0 0 3.5rem 0;
      }
    }
  }
}
