body.path-locations {
  section.featured .region.region-featured {
    background: $locations-list-background;
    position: relative;
    overflow: hidden;

    #block-locationlistheaderblock {
      @include container;
      position: static;

      .field.field--name-body {

        h2 {
          @include typography(2rem, $font-weight-bold, $archivo-font-family);

          position: relative;
          margin: 0;
          padding: 3.4rem 0;
          line-height: 2rem;
          width: 20rem;
          z-index: 1;

          @include devices(tablet) {
            font-size: 3.6rem;
            line-height: 4rem;
            width: 50rem;
          }

          @include devices(desktop) {
            padding: 21rem 0 14rem 0;
            font-size: 4.8rem;
            line-height: 5.2rem;
            width: 60rem;
          }
        }

        p >img {
          position: absolute;
          width: 16rem;
          height: auto;
          transform: rotate(-28deg);
          // Magic numbers are sad numbers?
          right: -4rem;
          top: 3.5rem;
          z-index: 0;

          @include devices(tablet) {
            width: 32rem;
            right: -7rem;
          }

          @include devices(desktop) {
            width: 62rem;
            height: 76.5rem;
            transform: rotate(0);
            top: auto;
            bottom: -3.8rem;
            right: -3.2rem;
          }
        }
      }
    }
  }

  .view-content {
    margin: 4rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include devices(desktop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem 6rem;
    }

    >.views-row {
      flex: 1 0 100%;

      display: grid;
      grid-template-columns: 6.4rem 1fr;
      grid-template-rows: 2.55rem 2.55rem;
      gap: 1.3rem 2rem;
      grid-template-areas:
          "image title"
          "image location-type";
      padding: 0.8rem 0.9rem;
      border-radius: 1.5rem;
      background: $gray;
      transition: background-color 0.2s ease-in-out;

      @include devices(tablet) {
        grid-template-columns: 8rem 1fr;
        grid-template-rows: 3.35rem 3.35rem;
        gap: 1.3rem 3rem;
        background: $white;
      }

      @include devices(desktop) {
        grid-template-columns: 11.4rem 1fr;
        grid-template-rows: 5.05rem 5.05rem;
        padding: 1.5rem;

        &:hover,
        &:active,
        &:focus {
          background: $gray;

          h2.location-title:after {
            max-width: 4rem;
          }
        }
      }

      &:hover,
      &:active,
      &:focus {
        color: $black;
        background: $gray;
      }

      figure.location-thumbnail {
        grid-area: image;
        margin: 0;

        >.field-content {
          border-radius: 1rem;
          height: 100%;
          overflow: hidden;

          >img {
            object-fit: cover;
          }
        }
      }

      h2.location-title {
        @include typography(1.4rem, $font-weight-bold, $archivo-font-family);

        grid-area: title;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: auto 0 0 0;
        line-height: 1.5rem;

        &:after {
          @include icon('arrow-right.svg');
          line-height: 0.8rem;
          max-width: 0;
          overflow: hidden;
          transition: max-width ease-in-out 0.3s;

          @include devices(tablet) {
            line-height: 0.8rem;
          }

          @include devices(desktop) {
            line-height: 0.8rem;
          }
        }

        @include devices(tablet) {
          font-size: 1.8rem;
          line-height: 2rem;
        }

        @include devices(desktop) {
          font-size: 2.1rem;
          line-height: 2.3rem;
        }
      }

      div.location-type {
        @include typography(1.2rem, $font-weight-normal, $roboto-font-family);

        grid-area: location-type;
        line-height: 1.4rem;

        @include devices(tablet) {
          font-size: 1.5rem;
          line-height: 1.7rem;
        }

        @include devices(desktop) {
          font-size: 1.8rem;
          line-height: 2.1rem;
        }
      }
    }
  }
}
