{#
/**
 * @file
 * Default theme implementation for the Location Rating Block.
 *
 * Available variables:
 * - rating: The rating of the location
 *
 * @ingroup themeable
 * @ingroup event
 */
#}
<h2>{{ rating }}</h2>
