.ad_site_status_message_block_container {
  display: block;
  width: 100%;
}

.ad_site_status_message_block_container > div {
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.ad_site_status_message_block_container > .alert {
  background-color: #fa2209;
}

.ad_site_status_message_block_container > .warning {
  background-color: #d52;
}

.ad_site_status_message_block_container > .info {
  background: linear-gradient(-45deg, #00aaee, #00aaaa);
}

.ad_site_status_message_block_container > .success {
  background: linear-gradient(#3fa21c, #2e910b);
}

.ad_site_status_message_block_container > .plain {
  background-color: #fff;
  color: #333;
  font-weight: normal;
  border: 1px solid #333;
}
