.ajax-progress {
  display: inline-block;
  padding: 1px 5px 2px 5px;
}
.ajax-progress-throbber .throbber {
  display: inline;
  padding: 1px 5px 2px;
  background: transparent url(../assets/loader-pi.gif) no-repeat 0 center;
}

/* Full screen throbber */
.ajax-progress-fullscreen {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 7px;
  background-color: #232323;
  background-image: url(../assets/loader-pi.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
[dir="rtl"] .ajax-progress-fullscreen {
  right: 49%;
  left: auto;
}
