html, body {
  height: 100%;
}

.dialog-off-canvas-main-canvas .layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.user-logged-in {
  &.toolbar-fixed {
    .dialog-off-canvas-main-canvas .layout-container {
      min-height: calc(100vh - $toolbar-height);
    }

    &.toolbar-horizontal.toolbar-tray-open {
      .dialog-off-canvas-main-canvas .layout-container {
        min-height: calc(100vh - $toolbar-horizontal-tray-open-height);
      }
    }
  }
}

main {
  @include container;

  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;

  .layout-content,
  .layout-sidebar {
    width: 100%;
  }

  @include devices(desktop) {
    flex-wrap: nowrap;

    .layout-sidebar {
      margin: 0 0 0 17rem;
      max-width: 34.5rem;
    }
  }
}
