@mixin typography($font-size, $font-weight: $font-weight-normal, $font-family: $roboto-font-family) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin devices($name) {
  @if $name == tablet {
    @include breakpoint($screen-size-tablet) {
      @content;
    }
  }

  @if $name == desktop {
    @include breakpoint($screen-size-desktop) {
      @content;
    }
  }
}

@mixin container {
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
  width: 100%;

  @include devices(tablet) {
    max-width: $container-width-tablet;
  }

  @include devices(desktop) {
    max-width: $container-width-desktop;
  }
}

@mixin extend-button {
  &::after {
    max-width: 2.5rem;
    opacity: 1;

    @include devices(tablet) {
      max-width: 4rem;
    }
  }
}

@mixin button($inverted: false) {
  @include typography(0.8rem, $font-weight-semi-bold, $rubik-font-family);

  padding: 1.3rem 0.8rem 1.2rem 1.4rem;
  border: 0.1rem solid $black;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  background: $white;
  color: $black;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  @include devices(tablet) {
    padding: 1.5rem 1.4rem 1.4rem 2.1rem;
    font-size: 1.2rem;
  }

  @if $inverted {
    background: $black;
    color: $white;
  }

  $icon: "#{$icon-path}/arrow-right-small";
  @if $inverted {
    $icon: $icon + "-white";
  }

  &:after {
    content: url("#{$icon}.svg");
    padding: 0 0 0 0.6rem;
    display: flex;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;

    @include devices(tablet) {
      content: url("#{$icon-path}/arrow-right.svg");
      padding: 0 0 0 0.7rem;

      @if $inverted {
        content: url("#{$icon-path}/arrow-right-white.svg");
      }
    }
  }

  &:hover {
    @include extend-button;
  }
}

@mixin event-card {
  display: grid;
  grid-template-columns: 6.4rem 1fr;
  grid-template-rows: 2.85rem 2.85rem;
  grid-template-areas:
      "image title"
      "image date";
  gap: 0.7rem 1.65rem;
  padding: 0.8rem;
  border-radius: 1.4rem;
  background-color: $gray;

  .views-field {
    &.views-field-field-title {
      grid-area: title;
      align-self: end;

      h3 {
        margin: 0;
        grid-area: title;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: $font-weight-bold;
      }
    }

    &.views-field-field-image {
      grid-area: image;
      border-radius: 1.2rem;
      overflow: hidden;

      .field-content {
        height: 100%;

        img {
          object-fit: cover;
        }
      }
    }

    &.views-field-field-start-date {
      grid-area: date;

      .field-content {
        @include typography(1.3rem, $font-weight-normal, $rubik-font-family);

        display: flex;
        align-items: center;
        gap: 0.8rem;
        line-height: 1.5rem;

        &:before {
          content: "\f133";
          font-family: $font-awesome-font-family;
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }
  }
}

@mixin taxonomy-highlight {
  @include typography(1.2rem, $font-weight-medium, $archivo-font-family);

  margin: 0 0 1.4rem 0;
  display: flex;
  gap: 0.8rem;
  line-height: 1.5rem;

  @include devices(tablet) {
    @include typography(1.8rem, $font-weight-semi-bold, $archivo-font-family);

    line-height: 2rem;
  }

  @include devices(desktop) {
    flex: 1 0 100%;
  }

  &:before {
    content: "";
    display: block;
    border-radius: 0.15rem;
    width: 0.3rem;
    background: $yellow;
  }
}

@mixin font-awesome-icon($icon-unicode) {
  content: $icon-unicode;
  font-family: $font-awesome-font-family;
  font-weight: $font-weight-bold;
}

@mixin icon($filename) {
  content: url("#{$icon-path}/#{$filename}");
}
