// It's 2022 and border-box is still not the default.
html {
  box-sizing: border-box;
  font-size: $font-size-base;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include typography(1.4rem);
  line-height: 2.2rem;

  @include devices(tablet) {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

h1 {
  @include typography(2.4rem, $font-weight-bold, $archivo-font-family);
  line-height: 2rem;

  @include devices(tablet) {
    font-size: 4.8rem;
    line-height: 5.2rem;
  }
}

h2 {
  @include typography(2.4rem, $font-weight-semi-bold, $archivo-font-family);
  line-height: 2.7rem;

  @include devices(tablet) {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
}

h3 {
  @include typography(2rem, $font-weight-semi-bold, $archivo-font-family);
  line-height: 1.4rem;

  @include devices(tablet) {
    font-size: 2.4rem;
    line-height: 1.8rem;
  }
}

img {
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

ul,
ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: $black;

  &:hover,
  &:active,
  &:focus {
    color: $yellow;
  }
}

a.button {
  @include button;

  &.button-inverted {
    @include button(true);
  }
}

input[type='submit'].button {
  @include typography(0.7rem, $font-weight-medium, $rubik-font-family);

  padding: 0.8rem 1.2rem;
  border: 0;
  border-radius: 2rem;
  background: $black;
  color: $white;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background: $gray-very-dark;
  }

  &:active {
    background: $gray-dark;
  }

  @include devices(tablet) {
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

a.site-logo img {
  width: 1.7rem;

  @include devices(tablet) {
    width: 3rem;
  }

  @include devices(desktop) {
    width: 4.5rem;
  }
}

.layout-container {
  position: relative;
}

// Prevent wrapping of Help menu item into new line.
.toolbar-horizontal .toolbar-tray > .toolbar-lining {
  padding-right: 0;
}

.block > h2 {
  font-size: 2rem;
  line-height: 1.4rem;

  @include devices(tablet) {
    font-size: 2.4rem;
    line-height: 1.8rem;
  }
}
