$container-padding: 30px;

$container-width-desktop: 1500px + (2 * $container-padding);
$container-width-tablet: 828px + (2 * $container-padding);

// Typography.
$font-size-base: 10px;

$archivo-font-family: "Archivo", sans-serif;
$rubik-font-family: "Rubik", sans-serif;
$roboto-font-family: "Roboto", sans-serif;
$font-awesome-font-family: "Font Awesome 6 Free";

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Colors.
$black: #000000;
$white: #FFFFFF;
$gray-light: #F9F9F9;
$gray: #F5F5F7;
$gray-dark: #666666;
$gray-very-dark: #1A1A1A;
$champagne: #D8D2B0;
$blue: #ACD6E8;
$yellow: #FFC107;
$companies-list-background: rgba(185, 173, 111, 0.55);
$locations-list-background: #FAF9F9;
$events-list-background: rgba(104, 181, 214, 0.56);
$shadow-gray: rgba(0, 0, 0, 0.07);

// Breakpoints.
$screen-size-tablet: $container-width-tablet;
$screen-size-md: 1096px;
$screen-size-desktop: $container-width-desktop;
$screen-size-xl: 1620px;

// Icons.
$icon-path: '../../assets/icons';

// Drupal things.
$toolbar-height: 39px;
$toolbar-horizontal-tray-open-height: 79px;

// Text.
$text-max-width: 862px;

// Header things.
$header-height-mobile: 7rem;
$header-height-tablet: 9.5rem;
$header-height-desktop: 13.1rem;
