section.featured .region.region-featured {
  .block.views-exposed-form {
    @include container;

    .form--inline {
      display: flex;
      align-items: flex-end;
      gap: 2.5rem;
      max-width: 80rem;

      @include devices(tablet) {
        gap: 5rem;
      }

      &.clearfix:after {
        display: none;
      }

      .form-item,
      .form-actions {
        margin: 0;
        display: flex;
        flex-direction: column;
      }

      .form-item {
        flex: 1;
        border-bottom: 0.1rem solid $black;
        overflow: hidden;
        white-space: nowrap;

        @include devices(tablet) {
          border-bottom-width: 0.2rem;
        }

        @include devices(desktop) {
          border-bottom-width: 0.3rem;
        }

        input,
        select,
        label {
          @include typography(1rem, $font-weight-normal, $rubik-font-family);

          appearance: none;
          padding: 0.6rem 0;
          border: 0;
          outline: none;
          line-height: 1.2rem;
          width: 100%;
          background: none;
          text-overflow: ellipsis;

          @include devices(tablet) {
            padding: 1.2rem 0;
            line-height: 2.4rem;
            font-size: 1.6rem;
          }
        }

        input,
        select {
          opacity: 0;
        }

        label {
          position: relative;
          padding-bottom: 0;
          bottom: -1.8rem;

          @include devices(tablet) {
            bottom: -3.6rem;
          }
        }

        select {
          position: relative;
          padding-right: 1.2rem;
          z-index: 1;

          >option {
            font-size: 1.4rem;
          }
        }

        &.form-type-select {
          position: relative;

          &:after {
            @include font-awesome-icon('\f0dd');

            position: absolute;
            line-height: 0;
            height: 0.3rem;
            bottom: 1.2rem;
            right: 0;

            @include devices(tablet) {
              height: 0.8rem;
              bottom: 2rem;
            }
          }

          &:active:after {
            transform: scale(0.9);
          }
        }

        &:focus-within {
          label {
            animation: label-slide 0.4s ease-in-out forwards;
          }

          input,
          select {
            animation: input-appear 0.4s ease-in-out forwards;
          }
        }
      }
    }
  }
}

@keyframes input-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes label-slide {
  from {
    bottom: -1.8rem;
  }

  to {
    bottom: 0;
  }
}

@include devices(tablet) {
  @keyframes label-slide {
    from {
      bottom: -3.6rem;
    }

    to {
      bottom: 0;
    }
  }
}
