section.featured {
  margin-bottom: -$header-height-mobile;

  @include devices(tablet) {
    margin-bottom: -$header-height-tablet;
  }

  @include devices(tablet) {
    margin-bottom: -$header-height-desktop;
  }

  .region.region-featured {
    position: relative;
    margin: 0 0 0 0.8rem;
    padding: $header-height-mobile 0 4.2rem 0;
    border-radius: 0 0 0 6rem;
    top: -$header-height-mobile;

    background: $gray;

    @include devices(tablet) {
      margin: 0 0 0 1.6rem;
      padding: $header-height-tablet 0 8rem 0;
      border-radius: 0 0 0 7rem;
      top: -$header-height-tablet;
    }

    @include devices(desktop) {
      margin: 0 0 0 2rem;
      padding: $header-height-desktop 0 16.8rem 0;
      border-radius: 0 0 0 9rem;
      top: -$header-height-desktop;
    }
  }
}
