footer.footer {
  margin: auto 0 0 0.8rem;
  border-radius: 6rem 0 0 0;
  background: $gray-light;

  a {
    color: $gray-dark;

    &:hover,
    &:active,
    &:focus {
      color: $black;
    }
  }

  .footer-container {
    @include container;

    padding: 5rem 3.4rem 2rem 3.4rem;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: auto;

    .region {
      .block {
        font-size: 1rem;
        line-height: 1.7rem;
        white-space: nowrap;
        color: $gray-dark;

        @include devices(tablet) {
          font-size: 1.2rem;
          line-height: 2.7rem;
        }

        h2 {
          margin: 0 0 1rem 0;
          font-size: 1.2rem;
          line-height: 1.3rem;
          color: $black;

          @include devices(tablet) {
            font-size: 1.4rem;
            line-height: 1.5rem;
          }
        }
      }

      &.region-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 4.8rem 5.6rem;

        @include devices(tablet) {
          gap: 8rem 10rem;
        }

        @include devices(desktop) {
          gap: 13rem 26rem;
        }

        #block-contactblock .field ul {
          margin: 1.6rem 0 0 0;
          display: flex;
          gap: 0 2rem;

          @include devices(tablet) {
            gap: 0 3rem;
          }

          li {
            font-size: 1.3rem;

            @include devices(tablet) {
              font-size: 2rem;
            }

            span {
              display: none;
            }
          }
        }
      }

      &.region-footer-bottom {
        margin: 5rem 0 0 0;
        grid-column-start: 2;

        .field ul {
          display: flex;
          gap: 0.8rem 0;
          flex-wrap: wrap;

          li {
            line-height: 1.2rem;

            &:first-child {
              flex: 0 0 100%;

              @include devices(tablet) {
                flex: 0;

                &:after {
                  content: "/";
                  padding: 0 0.8rem;
                }
              }
            }

            &:not(:first-child):not(:last-child):after {
              content: "/";
              padding: 0 0.8rem;
            }
          }
        }
      }
    }
  }
}
