section.footer-cta {
  @include container;

  position: relative;
  font-family: $rubik-font-family;
  text-align: center;

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    width: 11.7rem;
    height: 11.7rem;
    top: 10rem;
    border-radius: 50%;
    background: $yellow;

    @include devices(tablet) {
      width: 24rem;
      height: 24rem;
      left: 10%;
      top: 14rem;
    }

    @include devices(desktop) {
      width: 34rem;
      height: 34rem;
      left: 22.3%;
      top: 20rem;
    }
  }

  h2, p {
    color: $gray-very-dark;
  }

  h2 {
    margin: 0;
    font-size: 2.1rem;
    line-height: 4.2rem;

    @include devices(tablet) {
      font-size: 4.2rem;
    }
  }

  p {
    @include devices(tablet) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  p:last-child {
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  a {
    @include button;

    &:nth-child(2) {
      @include button(true);
      @include extend-button;

      margin: 0;
    }
  }

  #block-footercta {
    padding: 4rem 1rem;

    @include devices(tablet) {
      padding: 10rem 0;
    }

    @include devices(desktop) {
      padding: 14rem 0;
    }
  }

  .region.region-footer-cta {
    margin: 10rem 0 1rem 0;

    @include devices(tablet) {
      margin: 14rem 0 14rem 0;
    }

    @include devices(desktop) {
      margin: 20rem 0 20rem 0;
    }
  }
}
