section.footer-social .region.region-footer-social {
  margin: 3.6rem 0 2rem 0;

  @include breakpoint($screen-size-md) {
    position: fixed;
    top: 30%;
    left: 4rem;
  }

  @include devices(desktop) {
    position: static;
  }

  @include breakpoint($screen-size-xl) {
    position: fixed;
  }

  #block-shareblock .field--name-body ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.35rem;
    font-size: 2rem;

    @include breakpoint($screen-size-md) {
      flex-direction: column;
    }
    
    @include devices(desktop) {
      flex-direction: row;
    }

    @include breakpoint($screen-size-xl) {
      flex-direction: column;
    }

    li span {
      display: none;
    }
  }
}
