header.header {
  position: relative;
  padding: 2.3rem 2.3rem 1.3rem 2.3rem;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: $header-height-mobile;
  z-index: 200;

  @include devices(tablet) {
    padding: 3rem 3rem 1.3rem 3rem;
    height: $header-height-tablet;
  }

  @include devices(desktop) {
    padding: 4.5rem 4.5rem 1.3rem 4.5rem;
    height: $header-height-desktop;
  }

  .region.region-header {
    flex: 1;
  }

  #menu-icon {
    width: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;

    @include devices(tablet) {
      width: 2.7rem;
    }

    @include devices(desktop) {
      width: 4.2rem;
    }

    &.fixed {
      position: fixed;
      top: 2.3rem;
      right: 2.3rem;

      @include devices(tablet) {
        top: 3rem;
        right: 3rem;
      }

      @include devices(desktop) {
        top: 4.5rem;
        right: 4.5rem;
      }
    }

    .line {
      margin: 0 0 0.3rem auto;
      height: 0.3rem;
      background: $black;
      border-radius: 0.1rem;
      transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, background-color 0.2s ease-in-out;

      @include devices(tablet) {
        margin: 0 0 0.5rem auto;
      }

      @include devices(desktop) {
        margin: 0 0 0.7rem auto;
        height: 0.5rem;
        border-radius: 0.2rem;
      }

      &.line-1,
      &.line-3 {
        border-radius: 0.15rem 0.1rem 0.1rem 0.15rem;

        @include devices(desktop) {
          border-radius: 0.25rem 0.2rem 0.2rem 0.25rem;
        }
      }

      &.line-1 {
        width: 85%;
      }

      &.line-2 {
        margin: 0 0 0.3rem 0;
        width: 100%;

        @include devices(tablet) {
          margin: 0 0 0.5rem 0;
        }

        @include devices(desktop) {
          margin: 0 0 0.7rem 0;
        }
      }

      &.line-3 {
        width: 70%;
      }
    }

    &.active .line {
      &.line-1,
      &.line-3 {
        width: 100%;
        border-radius: 0.15rem;
        transform-origin: center center;

        @include devices(desktop) {
          border-radius: 0.25rem;
        }
      }

      &.line-1 {
        transform: translateY(0.5rem) rotate(45deg);

        @include devices(tablet) {
          transform: translateY(0.9rem) rotate(45deg);
        }

        @include devices(desktop) {
          transform: translateY(1.3rem) rotate(45deg);
        }
      }

      &.line-2 {
        width: 0;
      }

      &.line-3 {
        transform: translateY(-0.7rem) rotate(-45deg);

        @include devices(desktop) {
          transform: translateY(-1.1rem) rotate(-45deg);
        }
      }
    }

    &:not(.active):hover .line {
      &.line-1,
      &.line-3 {
        width: 100%;
      }
    }

    &:hover:active,
    &.active:active {
      transform: scale(0.9);

      &.line {
        background: $gray-very-dark;
      }
    }
  }
}

body.user-logged-in {
  &.toolbar-fixed {
    #menu-icon.fixed {
      margin-top: $toolbar-height;
    }

    &.toolbar-horizontal.toolbar-tray-open {
      #menu-icon.fixed {
        margin-top: $toolbar-horizontal-tray-open-height;
      }
    }
  }
}
