section.menu {
  position: fixed;
  padding: 0 0 0 1.3rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: $white;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: translate(100vw, -100vh) scale(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in;

  @include devices(desktop) {
    padding: 0;
    flex-direction: row;
  }

  &.active {
    opacity: 1;

    transform: translate(0, 0) scale(1);
    animation: menu-appear 0.5s linear;

    @include devices(desktop) {
      .region.region-menu-navigation {
        animation: menu-navigation-appear 1s ease-in-out;
      }
    }
  }

  .region {

    @include devices(desktop) {
      flex: 1;
    }

    ul.menu {
      margin-left: 7rem;

      @include devices(desktop) {
        margin-left: 30rem;
      }
    }

    &.region-menu-navigation {
      border-radius: 0 0 0 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 75%;
      background: $blue;

      @include devices(desktop) {
        border-radius: 0 0 9rem 0;
        height: 85%;
      }

      nav#block-mainnavigation ul.menu {
        li a {
          @include typography(3.6rem, $font-weight-bold, $archivo-font-family);

          display: flex;
          align-items: center;
          line-height: 4.2rem;
          color: $white;
          transition: color 0.4s ease-in-out;
          gap: 1rem;

          @include devices(tablet) {
            font-size: 4.8rem;
            line-height: 5.2rem;
          }

          &:after {
            content: url("#{$icon-path}/arrow-right.svg");
            display: flex;
            overflow: hidden;
            max-width: 0;
            transition: max-width 0.4s ease-in-out;

            @include devices(tablet) {
              content: url("#{$icon-path}/arrow-right-long.svg");
            }
          }

          &.is-active {
            color: $black;
          }

          &:hover {
            color: $black;

            &:after {
              max-width: 4rem;

              @include devices(tablet) {
                max-width: 6rem;
              }
            }
          }
        }
      }

      nav#block-useraccountmenu ul.menu {
        margin-top: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
          display: inline-block;

          a {
            @include button(true);
            //display: inline-block;
          }
        }
      }
    }

    &.region-menu-content {
      margin: auto 0;

      @include devices(tablet) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 7rem;
      }

      @include devices(desktop) {
        padding: 0 0 0 16rem;
        flex-direction: column;
        justify-content: flex-start;
        gap: 19rem;
      }

      #block-inspirationalquoteblock {
        display: none;

        @include devices(tablet) {
          @include typography(1.4rem, 400, $rubik-font-family);

          margin: 1.5rem auto 0 auto;
          position: relative;
          display: block;
          line-height: 3.1rem;

          .field figure {
            margin: 0;
            padding: 0 7rem 0 0;

            blockquote {
              margin: 0;

              font-weight: 500;
              font-size: 1.8rem;

              &:before {
                content: "“";
                position: absolute;
                margin: -2rem 0 0 -0.9rem;
                font-size: 2.4rem;
              }
            }

            figcaption {
              margin: 1rem 0 0 0;
            }
          }
        }

        @include devices(desktop) {
          margin: 0;
          font-size: 1.8rem;

          blockquote {
            font-size: 2.4rem;

            &:before {
              font-size: 3.6rem;
            }
          }

          figcaption {
            margin: 2.5rem 0 0 0;
          }
        }

        @include devices(desktop) {
          margin: 0;
        }
      }

      #block-contactblock-header {
        margin: 0 0 0 7rem;

        @include devices(desktop) {
          margin: 0;
        }

        h2 {
          display: none;

          @include devices(desktop) {
            @include typography(1.4rem, $font-weight-bold, $archivo-font-family);

            margin-top: 0;
            display: block;
            line-height: 3rem;
          }
        }

        .field {
          p {
            margin: 0 0 1rem 0;
            white-space: nowrap;

            @include devices(tablet) {
              @include typography(1.2rem, $font-weight-normal, $archivo-font-family);
              line-height: 2.7rem;
            }
          }
          ul {
            margin: 1.6rem 0 0 0;
            display: flex;
            gap: 0 2rem;

            @include devices(tablet) {
              gap: 0 2.7rem;
            }

            li {
              font-size: 1.3rem;

              @include devices(tablet) {
                font-size: 2rem;
              }

              span {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes menu-appear {
  0% {
    transform: translate(100vw, -100vh) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes menu-navigation-appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

body.user-logged-in {
  &.toolbar-fixed {
    section.menu {
      top: $toolbar-height;
      height: calc(100vh - $toolbar-height);
    }

    &.toolbar-horizontal.toolbar-tray-open {
      section.menu {
        top: $toolbar-horizontal-tray-open-height;
        height: calc(100vh - $toolbar-horizontal-tray-open-height);
      }
    }
  }
}
