.js--read-more a.js--toggle-button {
  @include typography(1rem, $font-weight-medium, $rubik-font-family);

  display: block;
  margin: 2.2rem 0 0 0;
  line-height: 1.2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  span {
    display: flex;
    align-items: center;
    gap: 1rem;

    &:after {
      @include font-awesome-icon('\f107');
    }

    &:last-child:after {
      @include font-awesome-icon('\f106');
    }
  }
}
