{% extends "field--text-long.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a description field.
 *
 * A 'js--read-more' class is added to the default view mode, to allow attaching read more / read less functionality.
 *
 * @ingroup themeable
 */
#}
{% if element['#view_mode'] == 'default' %}
    {% set attributes = attributes.addClass('js--read-more') %}
{% endif %}
