{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar.
 * - page.footer_cta: Items for the footer call to action region.
 * - page.footer_branding: Items for the footer branding region.
 * - page.footer: Items for the footer region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

    <header class="header" role="banner">
        {{ page.header }}

        <a id="menu-icon" href="#" aria-label="Open menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </a>
    </header>

    <section class="menu">
        {{ page.menu_navigation }}

        {{ page.menu_content }}
    </section>

    {% if page.featured %}
        <section class="featured">
            {{ page.featured }}
        </section>
    {% endif %}

    {% if slider_target_id %}
        <section class="slider">
            {{ drupal_entity('paragraph', slider_target_id) }}
        </section>
    {% endif %}

    <main id="main-content" role="main">
        <div class="layout-content">

            {{ page.content }}
        </div>{# /.layout-content #}

        {% if page.sidebar %}
            <aside class="layout-sidebar" role="complementary">
                {{ page.sidebar }}
            </aside>
        {% endif %}

    </main>

    {% if page.footer_social %}
        <section class="footer-social">
            {{ page.footer_social }}
        </section>
    {% endif %}

    {% if page.footer_cta %}
        <section class="footer-cta">
            {{ page.footer_cta }}
        </section>
    {% endif %}

    {% if page.footer_branding or page.footer or page.footer_bottom %}
        <footer class="footer" role="contentinfo">
            <div class="footer-container">
                {% if page.footer_branding %}
                    {{ page.footer_branding }}
                {% endif %}

                {% if page.footer %}
                    {{ page.footer }}
                {% endif %}

                {% if page.footer_bottom %}
                    {{ page.footer_bottom }}
                {% endif %}
            </div>
        </footer>
    {% endif %}

</div>{# /.layout-container #}
