.view.view-featured-companies .view-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 0 0 4rem 0;

  @include devices(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  @include devices(desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
  }

  .views-row a {
    display: block;
    padding: 2rem;
    border-radius: 2rem;
    height: 100%;
    background: $white;
    box-shadow: 0.5rem 0.5rem 5rem $shadow-gray;

    @include devices(desktop) {
      padding: 2.3rem 3.1rem 3.1rem 2.3rem;
      box-shadow: none;

      &:hover {
        box-shadow: 0.5rem 0.5rem 5rem $shadow-gray;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $black;
    }

    article.node--type-company.node--view-mode-teaser {
      display: flex;
      flex-direction: column;
      height: 100%;

      h2 {
        @include typography(2rem, $font-weight-bold, $roboto-font-family);

        margin: 0 0 1.9rem 0;
        line-height: 1.6rem;

        @include devices(desktop) {
          margin: 0 0 2.2rem 0;
          font-size: 2.6rem;
          line-height: 2rem;
        }
      }

      .field.field--name-field-industry {
        @include typography(1.4rem, $font-weight-bold, $roboto-font-family);

        display: flex;
        align-items: center;
        gap: 1.1rem;
        line-height: 1.4rem;

        &:before {
          content: '';
          display: block;
          border-radius: 0.2rem;
          width: 0.3rem;
          height: 2rem;
          background: $yellow;
        }
      }

      .field.field--name-field-description {
        @include typography(1.4rem, $font-weight-normal, $roboto-font-family);

        margin: 1.6rem 0 0 0;
        line-height: 2rem;

        @include devices(desktop) {
          margin: 1.9rem 0 0 0;
        }
      }
    }
  }
}
