.most-visited-latest-events {
  .view.view-most-visited-latest-events {
    .view-header {
      @include typography(1.4rem, $font-weight-normal, $rubik-font-family);

      margin: 0 0 5rem 0;
      line-height: 2.2rem;
    }

    .view-content {
      display: grid;
      grid-template-areas:
      "top-left top-right"
      "bottom-left top-right"
      "bottom-left bottom-right";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 8rem);
      margin: 0 4.5rem;
      gap: 1rem;

      .views-row {
        border-radius: 2rem;
        overflow: hidden;

        &:nth-child(1) {
          grid-area: top-left;
        }

        &:nth-child(2) {
          grid-area: top-right;
          margin: 1.7rem 0 0 0;
        }

        &:nth-child(3) {
          grid-area: bottom-left;
          margin: 0 0 1.7rem 0;
        }

        &:nth-child(4) {
          grid-area: bottom-right;
        }

        .views-field.views-field-field-image {
          width: 100%;
          height: 100%;

          >.field-content {
            width: 100%;
            height: 100%;

            a {
              display: block;
              width: 100%;
              height: 100%;

              >img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  @include devices(tablet) {
    display: none;
  }
}
