.field--name-field-view .view-slider-view {
  position: relative;
  overflow-x: hidden;

  .view-content {
    display: flex;
    align-items: center;

    >.views-row {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 2s ease-in-out;

      h2 {
        font-size: 2.4rem;
        margin: 0 0 2rem 0;
      }
    }
  }
}
