.view.view-upcoming-events {
  @include devices(desktop) {
    padding: 2.5rem 0 0 0;
  }

  .view-content .views-row {
    margin: 0 0 2rem 0;

    display: grid;
    grid-template-areas:
        "image title title"
        "image location location"
        "image date time";
    grid-template-columns: 6.6rem repeat(2, 1fr);
    grid-template-rows: repeat(3, 2.2rem);

    @include devices(tablet) {
      grid-template-areas:
          "image title date time view-event"
          "image location date time view-event";
      grid-template-columns: 6.6rem 1fr 13rem 11rem 12rem;
      grid-template-rows: repeat(2, 3.3rem);
    }

    @include devices(desktop) {
      margin: 0 0 3rem 0;
    }

    &:hover,
    &:active {
      border-radius: 1rem;
      outline: 1rem solid $gray;
      background: $gray;

      @include devices(tablet) {
        border-radius: 0;
        outline: none;
        background: none;
        color: $black;
        cursor: default;
      }
    }

    .views-field {
      &.views-field-field-image {
        grid-area: image;

        .field-content {
          border-radius: 1.2rem;
          overflow: hidden;
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
          }
        }
      }

      &.views-field-field-title {
        @include typography(1.5rem, $font-weight-bold, $archivo-font-family);

        grid-area: title;
        margin: 0.3rem 0 0 1.6rem;
        line-height: 1.6rem;

        @include devices(tablet) {
          margin: 1.3rem 0 0 2.4rem;
          font-size: 1.6rem;
          line-height: 1.7rem;
        }
      }

      &.views-field-field-location {
        @include typography(1.3rem, $font-weight-normal, $roboto-font-family);

        grid-area: location;
        margin: 0.3rem 0 0.5rem 1.6rem;
        line-height: 1.5rem;

        @include devices(tablet) {
          margin: 0.6rem 0 0 2.4rem;
        }
      }

      &.views-field-field-start-date {
        grid-area: date;
        margin: 0 0 0.3rem 1.6rem;

        &:before {
          @include font-awesome-icon('\f133');
        }
      }

      &.views-field-field-start-date-1 {
        grid-area: time;
        margin: 0 0 0.3rem 0;

        &:before {
          @include font-awesome-icon('\f017');
        }
      }

      &.views-field-field-start-date,
      &.views-field-field-start-date-1 {
        @include typography(1rem, $font-weight-normal, $roboto-font-family);

        display: flex;
        align-items: center;
        gap: 0.9rem;

        &:before {
          font-size: 1.2rem;
        }

        @include devices(tablet) {
          font-size: 1.3rem;
          line-height: 1.5rem;

          &:before {
            font-size: 1.6rem;
          }
        }
      }

      &.views-field-nothing {
        grid-area: view-event;
        display: none;

        @include devices(tablet) {
          display: flex;
          align-items: center;

          .field-content {
            @include typography(1.3rem, $font-weight-bold, $roboto-font-family);

            display: block;
            border-radius: 5rem;
            padding: 1.2rem 2.3rem;
            transition: all 0.5s ease-in-out;
            background: $gray-light;
            line-height: 1.5rem;

            &:hover {
              cursor: pointer;
              color: $white;
              background: $black;
            }
          }
        }
      }
    }
  }

  .image-display-area {
    display: none;
  }

  @include devices(desktop) {
    display: flex;
    gap: 16rem;

    .view-content {
      flex: 1;
    }

    .image-display-area {
      position: relative;
      display: block;
      margin: 0 5.8rem 0 0;
      width: 42rem;
      height: 53rem;

      img {
        position: absolute;
        object-fit: cover;
        border-radius: 2rem;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        border-radius: 2rem;
        top: -5.6rem;
        right: -5.8rem;
        width: 100%;
        height: 100%;
        background: $gray-light;
      }
    }
  }
}
