.paragraph.paragraph--type--faq {
  margin: 4rem 0;

  .field.field--name-field-title {
    @include typography(2.4rem, $font-weight-bold, $archivo-font-family);

    margin: 0 0 1.1rem 0;
    line-height: 2rem;

    @include devices(tablet) {
      margin: 0 0 4.8rem 0;
      font-size: 3.6rem;
      line-height: 4.8rem;
      letter-spacing: -1px;
    }
  }

  .paragraph.paragraph--type--question-answer {
    padding: 1.2rem 0;

    @include devices(tablet) {
      padding: 1.9rem 0;
    }

    .field.field--name-field-question {
      @include typography(1.4rem, $font-weight-semi-bold, $archivo-font-family);

      display: flex;
      justify-content: space-between;
      line-height: 2rem;
      letter-spacing: -0.5px;
      cursor: pointer;

      &:after {
        @include font-awesome-icon('\f078');

        padding: 0 0 0 2rem;
      }

      &.expanded:after {
        content: '\f077';
      }

      @include devices(tablet) {
        font-size: 2.2rem;
        line-height: 3.4rem;
      }
    }

    .field.field--name-field-answer {
      @include typography(1.4rem, $font-weight-normal, $rubik-font-family);

      display: none;
      margin: 0.8rem 0 0 0;
      line-height: 2rem;
      color: $gray-dark;

      @include devices(tablet) {
        font-size: 1.7rem;
        line-height: 3.1rem;
      }
    }
  }
}
