.paragraph.paragraph--type--pt-media-gallery {
  .field.field--name-field-images {
    display: flex;
    gap: 1.5rem;
    padding: $container-padding;
    margin-left: -#{$container-padding};
    width: 100vw;
    overflow-x: auto;

    @include devices(tablet) {
      gap: 2rem;
    }

    @include devices(desktop) {
      gap: 2.6rem;
    }

    >.field__item {
      flex-shrink: 0;
      border-radius: 1.5rem;
      width: 6.4rem;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      @include devices(tablet) {
        width: 8rem;
      }

      @include devices(desktop) {
        width: 11.4rem;
      }

      img {
        object-fit: cover;
        transition: transform 0.4s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.custom-lightbox {
  display: none;
  width: 100vw;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);

  .lightbox-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .lightbox-image {
    margin: 10rem auto 0 auto;
    width: 600px;
  }

  .lightbox-list {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
    padding: 2rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);

    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
    }
  }
}
