.paragraph.paragraph--type--quote {
  display: flex;
  flex-wrap: wrap;
  margin: 2.8rem 0;

  @include devices(tablet) {
    flex-wrap: nowrap;
    align-items: center;
    gap: 7.4rem;
    margin: 10rem 0 15rem 0;

    &.without-image {
      justify-content: center;
    }
  }

  .field.field--name-field-image {
    border-radius: 2rem;

    @include devices(tablet) {
      img {
        width: 42.5rem;
      }
    }
  }

  .field.field--name-field-quote {
    @include typography(1.4rem, $font-weight-semi-bold, $archivo-font-family);

    display: flex;
    gap: 2.4rem;
    margin: 2.8rem 0 0 0;
    line-height: 2.2rem;

    @include devices(tablet) {
      gap: 3.6rem;
      margin: 0;
      font-size: 1.8rem;

      p {
        max-width: 55rem;
      }
    }

    &:before {
      @include typography(7.2rem, $font-weight-bold, $rubik-font-family);

      content: "“";
      margin: -1rem 0 0 0;
      display: block;
      line-height: 7.2rem;
      color: $yellow;

      @include devices(tablet) {
        margin: -5rem 0 0 0;
      }
    }

    &.clearfix::after {
      display: none;
    }
  }
}
