.slider {
  position: relative;
  top: -#{$header-height-mobile};
  margin-bottom: -#{$header-height-mobile};
  padding-left: 0.8rem;

  @include devices(tablet) {
    top: -#{$header-height-tablet};
    margin-bottom: -#{$header-height-tablet};
  }

  @include devices(desktop) {
    top: -#{$header-height-desktop};
    margin-bottom: -#{$header-height-desktop};
  }

  .paragraph.paragraph--type--pt-slide {
    position: relative;
    border-radius: 0 0 0 6rem;

    @include devices(desktop) {
      border-radius: 0 0 0 9rem;
    }

    .content-container {
      @include container;

      display: grid;
      grid-template-areas:
        "title"
        "text"
        "link";
      grid-template-columns: 1fr;
      grid-template-rows: 5.1rem 3.5rem 4rem;
      padding-top: 9.9rem;
      padding-bottom: 4.2rem;
      height: 26.6rem;

      @include devices(tablet) {
        grid-template-rows: 8rem 6rem 5rem;
        padding-top: 15rem;
        padding-bottom: 6rem;
        height: 42rem;
      }

      @include devices(desktop) {
        grid-template-rows: 11.9rem 7rem 5rem;
        padding-top: 33.2rem;
        padding-bottom: 25.9rem;
        height: 84.1rem;
      }
    }

    &:nth-of-type(1) {
      background: $white;
    }

    .field {
      padding: 0 8.5rem 0 1.9rem;

      @include devices(tablet) {
        padding: 0 25rem 0 0;
      }

      @include devices(desktop) {
        padding: 0 87rem 0 0;
      }

      &.field--name-field-image {
        position: absolute;
        padding: 0;
        width: 11.5rem;
        right: 0;
        bottom: 0;

        img {
          margin-left: auto;
        }

        @include devices(tablet) {
          width: 25rem;
        }

        @include devices(desktop) {
          width: 60rem;
        }
      }

      &.field--name-field-title {
        @include typography(2rem, $font-weight-bold, $archivo-font-family);

        grid-area: title;
        line-height: 2rem;

        @include devices(tablet) {
          font-size: 3rem;
          line-height: 3rem;
        }

        @include devices(desktop) {
          font-size: 4.8rem;
          line-height: 5.2rem;
        }
      }

      &.field--name-field-text {
        @include typography(0.9rem, $font-weight-normal, $rubik-font-family);

        grid-area: text;
        line-height: 1.3rem;

        @include devices(tablet) {
          font-size: 1.4rem;
          line-height: 1.8rem;
        }

        @include devices(desktop) {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }

      &.field--name-field-link {
        grid-area: link;
        align-self: end;

        >a {
          @include typography(0.7rem, $font-weight-medium, $rubik-font-family);

          margin: 1.5rem 0 0 0;
          padding: 0.7rem 1.2rem;
          border-radius: 2rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $white;
          background: $black;

          @include devices(tablet) {
            padding: 0.9rem 1.5rem;
            font-size: 1rem;
          }

          @include devices(desktop) {
            padding: 1.3rem 2rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  nav.slick__arrow {
    display: flex;

    @include devices(desktop) {
      @include container;

      margin-top: -13.5rem;
      padding-bottom: 13.5rem;
    }

    button.slick-arrow {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.4rem 0;
      border: 0;
      font-size: 0;
      line-height: 0.7rem;
      background: $black;

      @include devices(desktop) {
        background: none;
      }

      &:after {
        font-size: 0.7rem;
        color: $white;

        @include devices(desktop) {
          color: $black;
        }
      }

      &.slick-prev {
        margin-left: auto;
        padding-left: 0.8rem;
        padding-right: 0.7rem;
        border-radius: 0 0 0 1rem;

        @include devices(desktop) {
          margin-left: 0;
          padding-left: 0;
          padding-right: 2rem;
          border-radius: 0;
        }

        &:before {
          @include icon('container-offset-left.svg');

          position: absolute;
          top: 0;
          left: -0.6rem;

          @include devices(desktop) {
            @include icon('arrow-left.svg');

            position: static;
          }
        }

        &:after {
          @include font-awesome-icon('\f053');

          @include devices(desktop) {
            @include typography(1.2rem, $font-weight-medium, $rubik-font-family);

            content: 'PREV.';
            padding-left: 1.5rem;
            line-height: 1.4rem;
          }
        }
      }

      &.slick-next {
        margin-right: $container-padding;
        padding-left: 0.7rem;
        padding-right: 0.8rem;
        border-radius: 0 0 1rem 0;

        @include devices(desktop) {
          margin-right: 0;
          padding-left: 2rem;
          padding-right: 0;
          border-radius: 0;
        }

        &:before {
          @include icon('container-offset-right.svg');

          position: absolute;
          top: 0;
          right: -0.6rem;

          @include devices(desktop) {
            @include typography(1.2rem, $font-weight-medium, $rubik-font-family);

            content: 'NEXT';
            position: static;
            padding-right: 1.5rem;
            line-height: 1.4rem;
          }
        }

        &:after {
          @include font-awesome-icon('\f054');

          @include devices(desktop) {
            @include icon('arrow-right.svg');
          }
        }
      }
    }
  }
}
