.paragraph.paragraph--type--pt-text-with-image {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0 0;

  @include devices(desktop) {
    flex-direction: row;
    align-items: center;
    gap: 7rem;
  }

  &.align-image-right {
    flex-direction: column-reverse;

    @include devices(desktop) {
      flex-direction: row-reverse;
    }
  }

  .field.field--name-field-image {
    padding: 1.5rem;
    margin: 2.6rem 0;
    border-radius: 2rem;
    background: $gray-light;

    @include devices(tablet) {
      padding: 2.8rem;
      min-width: 42rem;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 18.5rem;

      @include devices(tablet) {
        max-width: 26rem;
      }
    }
  }

  .field.field--name-field-text {
    h2,
    p {
      @include typography(1.4rem, $font-weight-normal, $archivo-font-family);

      display: inline;
      line-height: 2.2rem;

      @include devices(tablet) {
        display: block;
      }
    }

    h2 {
      margin: 0;
      font-weight: $font-weight-bold;

      @include devices(tablet) {
        font-weight: $font-weight-semi-bold;
        font-size: 3.6rem;
        line-height: 4.8rem;
      }
    }

    p:not(:first-of-type) {
      display: block;
      margin: 2.2rem 0 0 0;
    }

    @include devices(tablet) {
      p,
      p:not(:first-of-type) {
        font-size: 2.4rem;
        line-height: 3.1rem;
        margin: 3.5rem 0 0 0;
      }
    }
  }
}
