.paragraph.paragraph--type--view-embed {
  margin: 5rem 0 0 0;

  @include devices(tablet) {
    margin: 10rem 0 0 0;
  }

  .viewsreference--view-title {
    @include typography(2.4rem, $font-weight-semi-bold, $archivo-font-family);

    margin: 0 0 2.6rem 0;
    line-height: 2.7rem;

    @include devices(tablet) {
      font-size: 3.6rem;
      line-height: 4.2rem;
    }
  }

  .views-row {
    h2 {
      @include typography(1.5rem, $font-weight-bold, $archivo-font-family);

      margin: 0;
      line-height: 1.7rem;

      @include devices(tablet) {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }
  }
}
